<div class="page-theme">
  <h1>Add lyrics to an existing song section</h1>

  <%= form_with url: '/update_lyrics', method: :patch, local: true do |f| %>
    <%= f.select :section_id, Section.all.collect { |s| [s.select_text, s.id] } %>
    <% @lyrics.each do |lyric| %>
      <p class="stability-<%= lyric.stability %>">
        <%= lyric.content %>
        <%= lyric.created_at.strftime('%D') %>
        <%= check_box_tag "lyric-#{lyric.id}", lyric.id, false, id: "lyric-id"  %>
      </p>
    <% end %>
    <%= f.submit 'Save' %>
  <% end %>
</div>
