<div class="page-theme">
  <h1 class="main-header">Welcome, <%= @user.email %>!</h1>

  <section class="resources">
    <%= link_to "My Freewrites", freewrites_path %>
    <%= link_to "My Songs", songs_path %>
    <%= link_to "My Song Sections", sections_path %>
  </section>

  <section class="statistics">
    <h3>Songwriter Statistics</h3>
    <p>
      So far, you have made <%= @user.freewrite_total %> freewrite entries.
      Keep up the great work!
    </p>

    <p>
      You have worked on your songs for <%= @user.writing_streak %> days in a row!
    </p>
  </section>
</div>
