<h1>New Lyric</h1>

<% @existing.each do |line| %>
  <%= line.content %>
  <p>Estimated stability: <%= line.stability_estimate %></p>
<% end %>

<%= form_with model: @lyric_line, local: true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit 'Save' %>
<% end %>
