<h1><%= @song.title %></h1>
<h4>Mood: <%= @song.mood %></h4>
<h4>Message: <%= @song.message %></h4>

<% if !@song.sections.any? %>
  <p>
    To add lyrics, you'll need to
    <%= link_to 'create a song section', new_section_path %>.
  </p>
<% else %>
  <% @song.sections.each do |section| %>
    <p><%= section.section_type %> - <%= section.label %></p>
    <p><%= section.lyrics %></p>
  <% end %>
<% end %>
